USE [Uretim_Tasarım]
GO
/****** Object:  Table [dbo].[Particle_Operations]    Script Date: 3.05.2020 02:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Particle_Operations](
	[Op_Record] [int] IDENTITY(1,1) NOT NULL,
	[Operation_Code] [nvarchar](150) NULL,
	[Operation_Description] [nvarchar](150) NULL,
	[O_Start_Date] [datetime] NULL,
	[O_End_Date] [datetime] NULL,
	[O_Status] [nvarchar](20) NULL,
	[Station] [nchar](10) NULL,
	[O_Track_Code] [nvarchar](15) NULL,
 CONSTRAINT [PK_Particle_Operations] PRIMARY KEY CLUSTERED 
(
	[Op_Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WO_Products]    Script Date: 3.05.2020 02:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WO_Products](
	[ıse_Record] [int] IDENTITY(1,1) NOT NULL,
	[Track_Code] [nvarchar](15) NOT NULL,
	[Work_Order] [nvarchar](15) NULL,
	[pr_Name] [nvarchar](150) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Picture] [image] NULL,
	[Status] [nvarchar](20) NULL,
	[Due_Date] [date] NULL,
 CONSTRAINT [PK_WO_Products_1] PRIMARY KEY CLUSTERED 
(
	[ıse_Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Particle_Operations] ON 

INSERT [dbo].[Particle_Operations] ([Op_Record], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (1, N'OP1201', N'Process track by picture', CAST(N'2020-05-01T00:00:00.000' AS DateTime), CAST(N'2020-05-01T00:00:00.000' AS DateTime), N'Complete', N'ST01      ', N'UO64-215')
INSERT [dbo].[Particle_Operations] ([Op_Record], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (2, N'OP2101', N'Process track by picture', CAST(N'2020-05-01T00:00:00.000' AS DateTime), NULL, N'In Process', N'ST01      ', N'UO64-215')
INSERT [dbo].[Particle_Operations] ([Op_Record], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (3, N'OP2102', N'Process track by picture', NULL, NULL, N'Waiting', N'ST02      ', N'UO64-215')
SET IDENTITY_INSERT [dbo].[Particle_Operations] OFF
SET IDENTITY_INSERT [dbo].[WO_Products] ON 

SET IDENTITY_INSERT [dbo].[WO_Products] OFF
