<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Product_Manufacturing.Properties.Settings.Uretim_TasarımConnectionString"
            connectionString="Data Source=DESKTOP-1MFSCBQ\MSSQLSERVERAD;Initial Catalog=Uretim_Tasarım;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>